.header-container .alarm-button{
    margin-left: auto;
    width: 45px;
}
.header{
    display: flex;
    flex-direction: column;
}
.header-hello{
    white-space: nowrap;
    display: flex;
    gap:20px;
}
.mention{
    font-weight: bold;
    font-size:30px;
}
.sub-mention{
    color: var(--gray-1);
    font-size: 16px;
    text-align: left;
}
.schedule-mission{
    display: flex;
    gap:51px;
    margin-bottom: 48px;
}
.title{
    font-weight: bold;
    font-size:24px;
}