.setting-section{
    margin-left:240px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 70px 30px;
    gap:40px;
}
.profile-card{
    background-color: var(--white);
    border-radius: 15px;
    border: 3px var(--outline-3) solid;
    width: 95%;
    height: 500px;
    
}
.profile-content{
    padding: 20px 0px 0px 40px;
    display: flex;
}
.setting-title{
    text-align : left;
    margin:20px 0px 10px 30px;
    font-weight: 700;
    font-size:24px;
}
.input{
    border-width: 1.8px;
    border-radius: 9px;
    height: 50px;
    width: 100%;
    border-style:solid;
    border-color: var(--gray-2); 
}

.profile-info{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    width: 85%;

}
.sub-title{
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    padding:0px 0px 10px 0px;
}
.upload-btn {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100px;
    font-weight: 700;
    cursor: pointer;
    color: var(--blue);
    text-decoration: underline;
}

#file{
    display: none;
}
.save-btn{
    margin-left: auto;
    margin-top: 30px;
    width: 25%;
    height: 60px;
}
.save-btn button{
    font-weight: 700;
    font-size: 20px;
    background-color: var(--button-3);
    color:var(--white);
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
input{
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}
textarea{
    padding-top:20px;
    padding-left: 20px;
    box-sizing: border-box;

}
.introduce .sub-title{
    padding-top: 39px;
}
.introduce textarea{
    font-size: 16px;
    height: 100px;
}
.warning{
    text-align: left;
    font-size: 16px;
    color:red;
    margin:8px 0px 0px 0px;
}
textarea::placeholder {
    color: var(--gray-2);
    font-size: 16px;
}
.screen-theme-card{
    margin: 37px auto auto auto;
    height: 140px;
    border-radius: 15px;
    border: 3px var(--outline-3) solid;
    width: 95%;
    background-color: var(--white);
}
.screen-theme{
    margin:20px 0px 0px 65px;
    display: flex;
    gap: 30px;
}
.screen-theme div{
    font-size: 16px;
}
.radio-btn{
    display: flex;
}
.radio-btn input[type="radio"]{
    width: 20px;
}
.radio-btn p{
    margin:0px 0px 0px 10px;
    font-size: 24px;
}
.faq-card{
    height: auto;
    border-radius: 15px;
    border: 3px var(--outline-3) solid;
    width: 95%;
    background-color: var(--white);
}
.faq-card .setting-title {
    height: 80px;
    margin:0;
    border-bottom: 2px solid var(--outline-3);
    display: flex;
    align-items: center; 
}
.faq-card .setting-title p{
    padding-left:35px;
    font-weight: 700;
    font-size:24px;
}
.faq-card .faq-container{
    height: auto;
    padding: 5px 35px 5px 35px;
}
.faq-container .question p,
.faq-container .answer{
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
}
.faq-container .question p::before{
    content: "Q. ";
}
.faq-item{
    margin: 10px 0px;
    min-height: 60px;
    border-radius: 15px;
    background-color: var(--light-gray);
    overflow: hidden;
}
.faq-container button{
    border:none;
    background-color:transparent;
}
.question{
    display: flex;
    align-items: center;
    min-height: 60px;
}
.question button{
    /* margin-left: 73%; */
    cursor: pointer;
    width: fit-content; 
    margin-left: auto;
    margin-right: 30px;
}
.faq-item.open .question{
    border-bottom: 1px solid var(--outline-3);
}
.answer{
    margin: 0;
    min-height: 70px;
    display: flex;
    align-items: center;
}
.faq-container .answer::before{
    content: "A. ";
    padding-right: 6px;
}
.logOutSection{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}
.logOutButton{
    background-color: var(--outline-3);
    border:none;
    color: var(--gray-1);
    font-size: 20px;
    font-weight: bold;
    padding: 18px 80px;
    border-radius: 15px;
    text-decoration: none;
}
.deleteAccoutButton{
    color:var(--red);
    font-size: 20px;
    font-weight: 500;
}
