.ProfileCard{
    padding:60px 65px;
    background-color: var(--white);
    border-radius: 15px;
    border: 3px var(--outline-3) solid;
    width: 95%;
    height: 300px;
}
.ProfileInfo{
    display: flex;
    gap:35px;
    align-items: center;
}
.userIntroduction{
    display: flex;
    flex-direction: column;
    gap:63px;
}
.userIntroduction p{
    font-weight: bold;
}
.userIntroduction .userName{
    font-size: 24px;
}
.ProfileImage{
    /* margin-right : 35px; */
}
.ProfileImage img{
    width: 120px;
}
.following-Follwer{
    gap:20px;
    display: flex;
}