.ProfileCard{
    padding:60px 65px;
    background-color: var(--white);
    border-radius: 15px;
    border: 3px var(--outline-3) solid;
    width: 95%;
    height: 300px;
}
.ProfileInfo{
    display: flex;
}
.userIntroduction p{
    font-weight: bold;
}
.userIntroduction .userName{
    font-size: 24px;
}
.ProfileImage img{
    width: 120px;
}