@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --black: #2d2d2d;
  --white: #FFFFFF;
  --nav-1: #EA63F1;
  --nav-2: #F8F1F9;
  --outline-3: #EFF3F4;
  --lightMode-background: #FAFAFA;
  --gray-1: #7E7E7E;
  --button-3: #616FF4;
  --light-gray: #F8FAFC;
  --gray-2: #9DABBE;
  --red: #FF4D4D;
  --blue: #077EFF;
}

* {
  margin:0;
  padding:0;
  color: var(--black);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: none;
}
body{
    background: var(--lightMode-background);
}