@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --black: #2d2d2d;
  --white: #FFFFFF;
  --nav-1: #EA63F1;
  --nav-2: #F8F1F9;
  --outline-3: #EFF3F4;
  --lightMode-background: #FAFAFA;
  --gray-1: #7E7E7E;
  --button-3: #616FF4;
  --light-gray: #F8FAFC;
  --gray-2: #9DABBE;
  --red: #FF4D4D;
  --blue: #077EFF;
  --button-1-top: #616FF4;
  --button-1-bottom: #F46FE7;
  --outline-2-top : #F597B6;
  --outline-2-bottom : #A3B3FA;
}

* {
  margin:0;
  padding:0;
  color: var(--black);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: none;
}
body{
    background: var(--lightMode-background);
    -webkit-user-select: none; /* 크롬, 사파리, 오페라 */
}
img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
button{
    cursor: pointer;
}